.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
    grid-gap: 10px; /* Espacio entre las columnas */
  }
  
  .item {
    background-color: white;
    padding: 10px;
    margin: 50px;
  }
  .imagen-redonda {
    position: absolute;
    top: 10px; /* Ajusta según necesites */
    left: 50%;
    transform: translateX(-50%); /* Centra horizontalmente */
    width: 72px;
    height: 72px;
    border-radius: 50%; /* Forma redonda */
    overflow: hidden; /* Oculta las partes de la imagen que se extienden más allá del borde redondeado */
  }
  .imagen-redonda img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para cubrir completamente el contenedor redondo */
  }
  .fila {
    margin-bottom: 10px; /* Espaciado entre filas */
  }
  .fila2 {
    margin-bottom: 10px; /* Espaciado entre filas */
    font-family: 'Poppins', sans-serif;
    font-size: 34px;
  }
  .fila3 {
    margin-bottom: 10px; /* Espaciado entre filas */
    font-family: "Bodebeck LT Std";
    font-size: 66px;
    font-weight: 600; /* Aumenta el grosor para simular negrita */
}
.boton1 {
    width: 50%; 
    height: 54px; 
    background-color: #07C16D; 
    border-style: hidden; 
    color: white;
    font-size: 12px;

}
.boton0 {
    width: 50%; 
    height: 54px; 
    background-color: white; 
    border-style: hidden; 
    font-size: 12px;

}
.icono-appstore {
    display: inline-block;
    width: 19px;
    height: 22px;
    background-image: url('./../../../assets/apple.png'); /* Ruta al ícono de App Store */
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px; /* Espacio entre el icono y el texto */
  }
  .icono-playstore {
    display: inline-block;
    width: 19px;
    height: 22px;
    background-image: url('./../../../assets/Vector.png'); /* Ruta al ícono de Play Store */
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px; /* Espacio entre el icono y el texto */
  }

  .item2 {
    background-image: url('../../assets/img/overlays/golf1.png');
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    padding-top: 10px;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
  }
  
  .card {
    width: 238px;
    height: 239px;
    padding: 10px;
    text-align: left; /* Alinea el contenido del card a la izquierda */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Agrega una sombra */

  }
  
  .item img {
    width: 96px;
    height: 96px;
  }
  
  /* Media query para pantallas más pequeñas */
  @media only screen and (max-width: 1200px) {
    .contenedor {
      grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
      grid-gap: 5px; /* Ajustar el espacio entre las columnas */
      width: 50vw; /* Reducir el ancho del contenedor */
    }
  }
  