<main>
    <div class="relative pt-16 pb-32 flex content-center items-center justify-center" style="min-height: 75vh;">
      <div class="absolute top-0 w-full h-full bg-center bg-cover" style='background-image: url("https://images.unsplash.com/photo-1557804506-669a67965ba0?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1267&amp;q=80");'>
        <span id="blackOverlay" class="w-full h-full absolute opacity-75 bg-black"></span>
      </div>
      <div class="container relative mx-auto">
        <div class="items-center flex flex-wrap">
          <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
            <div class="pr-12">
              <h1 class="text-white font-semibold text-5xl">ZURCO DESIGNIO</h1>
              <p class="mt-4 text-lg text-gray-300">Encuentra aquí los mejores libros</p>
            </div>
          </div>
        </div>
      </div>
      <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden" style="height: 70px;">
        <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
          <polygon class="text-gray-300 fill-current" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <section class="pb-20 bg-gray-300 -mt-24">
      <div class="container px-12">
        <div class="flex flex-wrap">
          <!-- Sección de la izquierda -->
          <div class="w-full lg:w-3/12 mb-4">
            <mat-card class="custom-card " style="padding: 30px;">
                <mat-card-title>LOS MAS VENDIDOS    </mat-card-title>

            <app-book-list></app-book-list>
            <app-book-details *ngFor="let book of books" [book]="book"></app-book-details>
        </mat-card>

          </div>
          

          <!-- Sección de la derecha (card vacío) -->
          <div class="w-full lg:w-9/12 mb-4" style="padding-left: 30px; overflow: scroll;">
            <mat-card style="padding: 30px;">
                <mat-card-title>Todos los Libros   </mat-card-title>     
                
                <app-all-books></app-all-books>
               <app-sales-chart></app-sales-chart>
              <!-- Puedes agregar contenido aquí si es necesario -->
            </mat-card>
          </div>
        </div>
      </div>
    </section>
  </main>
 
  