<div class="contenedor" style="padding: 30px;">
    <div class="item" style="padding-left: 30px;">
        <div class="fila" style="padding-left: 15vw;">
            <img src="./../../../assets/logo222.png" alt="Imagen">
        </div>
        <div class="fila2">
            APP
        </div>
        <br>
        <br>

        <div class="fila3">
            GOLF
        </div>
        <br>
        <br>

        <div class="fila">
            Tu concierge de confianza
            <br>
            <br>
            <br>
            <p style="width: 482px;">
                Lorem ipsum dolor sit amet consectetur. Morbi eu amet auctor arcu dignissim ornare nec. Facilisis velit
                mauris facilisis sit ante ligula pellentesque odio. Vitae integer elit laoreet pellentesque.
            </p>
        </div>
        <br>
        <br>
        <div class="fila" style="font-weight: 600 !important;">
            Descargar

        </div>
        <div class="fila" style="width: 100vh;">
            <button class="boton0" style=" width: 164px; background-color: #071E23;">
                <span class="icono-appstore"></span>
                <span style="text-align: center; font-size: 18px; color: white;">App Store</span>

            </button>

            <button class="boton0" style=" width: 10vh; padding-left: 50px !important; background-color: #FFFFFF;">
            </button>
            <button class="boton0" style="width: 164px;  background-color: #071E23;">
                <span class="icono-playstore"></span>
                <span style="text-align: center; font-size: 18px; color: white;">Play Store</span>
            </button>
        </div>
    </div>
    <div class="item2" style="height: 855px;">
        <div class="card" style="padding-top: 100px;">
            <div class="imagen-redonda">
                <img src="./../../../assets/perfil.png" alt="Imagen Redonda">
            </div>
            <div class="fila" style="color: #0F0F12; font-size: 10px; text-align: center;">
                Lorem ipsum dolor sit amet consectetur. Morbi eu amet auctor arcu dignissim ornare nec.

            </div>
            <br>
            <br>

            <div class="botones" style=" border-style: hidden; color: #0F0F12; font-size: 10px; text-align: center;">
                <button class="boton0"> <span style="font-size: 12px; color: #999999;"> TOTAL SCORE</span>
                    <br>

                    <span> 64,953</span>
                </button>
                <button class="boton0" style="background-color: #07C16D;"> <span
                        style="padding: 10px;   text-align: center; font-size: 12px; color: white;"> ACEPTAR</span>
                    <span style="padding-top: 40px !important; font-size: 12px; color: #07C16D;"> ACEPTAR</span>
                </button>
            </div>
        </div>
    </div>
</div>