<mat-card *ngIf="salesData">
    <mat-card-title>Ventas por libro</mat-card-title>
    <mat-card-content>
      <canvas id="salesChart" width="400" height="400"></canvas>
    </mat-card-content>
  </mat-card>
  