<!-- book-details.component.html -->
<h2 mat-dialog-title>Detalles del Libro</h2>
<mat-dialog-content>
  <p><strong>Título:</strong> {{ data.title }}</p>
  <p><strong>Autor:</strong> {{ data.author }}</p>
  <p><strong>Fecha de Publicación:</strong> {{ data.publicationDate | date }}</p>
  <p><strong>Número de Páginas:</strong> {{ data.pages }}</p>
  <p><strong>ISBN:</strong> {{ data.isbn }}</p>
  <p><strong>Stock:</strong> {{ data.stock }}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>OK</button>
</mat-dialog-actions>
