/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .book-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
    width: calc(33.33% - 20px);
    padding: 20px;
  }
  
  .book-card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
  }
  
  .book-card h3 {
    margin-top: 0;
    font-size: 18px;
  }
  
  .book-card p {
    margin: 10px 0;
  }
  
  .book-details {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
  }
  
  @media (max-width: 768px) {
    .book-card {
      width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 576px) {
    .book-card {
      width: 100%;
    }
  }
  