.mdc-card__actions {
    display: flex;
    justify-content: flex-end;
    padding: 8px; /* Ajusta el relleno según sea necesario */
    background-color: #fff; /* Color de fondo */
    border-radius: 0 0 8px 8px; /* Bordes redondeados solo en la parte inferior */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  
  .mdc-card__actions > *:not(:first-child) {
    margin-left: 8px; /* Espaciado entre elementos */
  }
  
  /* Estilo adicional para los elementos dentro de .mdc-card__actions */
  .mdc-card__actions button {
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none; /* Sin borde */
    padding: 8px 16px; /* Ajusta el relleno según sea necesario */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de puntero al pasar por encima */
  }
  
  .mdc-card__actions button:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el ratón */
  }
  
  .mat-card-content.text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mat-card-actions.text-center {
    display: flex;
    justify-content: center;
  }