<div class="container" >
    <div class="row">
       

      <ng-container *ngFor="let book of topThreeBooks">
        <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{ book.title }}</mat-card-title>
            </mat-card-header>
            <mat-card-content style=" display: flex;
            justify-content: center;">
                <img mat-card-image [src]="book.image" alt="Portada del libro">

              <!-- Aquí puedes mostrar otros detalles del libro si es necesario -->
            </mat-card-content>
            <mat-card-subtitle>{{ book.author }}</mat-card-subtitle>

            <mat-card-actions style=" display: flex;
            justify-content: center;">
              <button mat-button (click)="openDialog(book)">Ver Detalles</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </ng-container>

    </div>
  </div>
  