.container {
    padding: 20px;
    background-color: var(--primary);
  }
  
  .mat-table {
    width: 100%;
    border-collapse: collapse;
  }
  .mat-mdc-table .mdc-data-table__header-row{
    background-color:#007bff
  }
  
  .mat-header-cell, .mat-cell {
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    background-color: #007bff  ;
  }
  
  .mat-header-cell {
    background-color: #007bff  ;
    color: white;
    width: 200px;
  }
  
  
  .mat-row:nth-child(even) {
    background-color: #f2f2f2; /* Color de fila par */
  }
  
  .mat-paginator {
    margin-top: 20px;
  }
  
  .mat-mdc-table .mdc-data-table__row:nth-child(odd) {
    background-color: #f2f2f2; /* Color de fila impar */
  }
  .clicked {
    background-color: #5297eb; /* Cambia este color al que desees */
  }
  
  .inputmao{
    text-align: left; /* Alinea el contenido del card a la izquierda */
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
      border-radius: 20px;
      padding-left: 20px;
      border-color: #5297eb ;
      border-style: solid; border-width: 1px; height: 50px; width: 300px;   font-family: 'Poppins', sans-serif;
  }