<div style="overflow: scroll;">
      <mat-label>Buscar libro</mat-label>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <input placeholder="Libro 1" class="inputmao" matInput (keyup)="applyFilter($event.target.value)">
        <br>
        <br>
      <table mat-table [dataSource]="dataSource" matSort>
      <!-- Titulo -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Título </th>
        <td mat-cell *matCellDef="let book"> {{book.title}} </td>
      </ng-container>
  
      <!-- Autor -->
      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Autor </th>
        <td mat-cell *matCellDef="let book"> {{book.author}} </td>
      </ng-container>
  
      <!-- Fecha de publicación -->
      <ng-container matColumnDef="publicationDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de publicación </th>
        <td mat-cell *matCellDef="let book"> {{book.publicationDate | date}} </td>
      </ng-container>
  
      <!-- Número de páginas -->
      <ng-container matColumnDef="pages">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Número de páginas </th>
        <td mat-cell *matCellDef="let book"> {{book.pages}} </td>
      </ng-container>
  
      <!-- ISBN -->
      <ng-container matColumnDef="isbn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ISBN </th>
        <td mat-cell *matCellDef="let book"> {{book.isbn}} </td>
      </ng-container>
  
      <!-- Stock -->
      <ng-container matColumnDef="stock">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock </th>
        <td mat-cell *matCellDef="let book"> {{book.stock}} </td>
      </ng-container>
      
      <ng-container matColumnDef="sales">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ventas </th>
        <td mat-cell *matCellDef="let book"> {{book.sales}} </td>
      </ng-container>

<ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let book">
          <button mat-icon-button (click)="openDetailsDialog(book)">
            <mat-icon>visibility</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; index as i; columns: displayedColumns;" 
        (click)="handleRowClick(row,i)" [class.clicked]="row === selectedRow"></tr>
  </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons></mat-paginator>
  </div>
  <script>
    const x = document.getElementsByTagName("th");

for(i = 0; i < x.length; i++) {
   if(i%2 == 1) {
      x[i].style.backgroundColor = "#888888";
   }
   else {
      x[i].style.backgroundColor = "#DDDDDD";
   }
}
  </script>