/* styles.scss */

/* Botón primario */
.mat-button.mat-primary {
    background-color: #1976d2; /* Color de fondo */
    color: white; /* Color del texto */
  }
  
  /* Botón de acento */
  .mat-button.mat-accent {
    background-color: #ff4081; /* Color de fondo */
    color: white; /* Color del texto */
  }
  